.content{
	background:white;
	position:relative;
	width:86%;
	text-align:left;
	border-radius:15px;
	left:7%;
	right:7%;
	top:15px;
	bottom:50px;
}

.txt{
	position:relative;
	left:25px;
	top:30px
}

code{
	text-align:left;
}