

.ct_ele{
	align:center;
}

li{
	position:absolute;
	text-align:left;
	right:4%;
	width:20%;
	top:100px;
	background:white;
	border-radius:15px;
	list-style:none;
}

.content{
	background:white;
	position:relative;
	width:70%;
	border-radius:15px;
	text-align:center;
	left:5%;
	right:1%;
	top:5px;
	
}


table{
	position:relative;
	top:15px;
	botton:15px;
}

#spacial{
    font-weight:bold;
    color:#003399;
}

#spacial:hover{
    color:#00DB00;
    transition:color 3s;
    -moz-transition:color 3s;
    -webkit-transition:color 3s;
    -o-transition:color 3s;    
}

#table_body{
	
}
#up{
	z-index:10;
}