#TopText{
	background-color:#DEFFFF;
	padding:20px;
	border:3px #0000E0 solid;
	margin:0px;
	font-size:large;
	border-radius:8px;
	text-align:right;
	
}


.Top_tag{
	text-align:center;
	width:10%;
}


footer{
	text-align:center;
	position:relative;
	background:#C2C2FF;
	border:0px;
	top:25px;
	width:100%;
}


#up{
	position:fixed;
	right:5px;
	bottom:5px;
}

body{
	background:#FFF0D4;
}


.content{
	background:white;
	position:relative;
	width:70%;
	border-radius:15px;
	text-align:left;
	left:3%;
	right:1%;
	top:5px;	
}